<h1>Order History</h1>
<ul>
  <% orders.forEach(order => { %>
    <li>
      <a href="/orders/<%= order._id %>">Order with <%= order.seller.name %> - #<%= order.totalPrice %></a>
      - <%= order.paymentStatus === 'Completed' ? 'Completed' : 'Pending Payment' %>
    </li>
  <% }) %>
</ul>

<a href="/">Back to Home</a>
